.wrapper {
    /* box-shadow: outset 0px 8px 2px 0px black; */
    /* background-image: url(assets/images/larm-rmah-220894-unsplash2.jpg); */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    color: rgb(0, 0, 0);
    text-align: center;
    text-shadow: 2px 2px 2px rgb(35, 35, 35);
    padding: 20px;
    margin: 15px;
    line-height: 20%;
}

.inner-border {
    border: 6px solid rgba(0, 0, 0, 0);
    box-shadow: inset 0px 0px 0px 6px rgb(252, 252, 252);
    box-sizing: border-box; /* padding and border in element's width and height */
}

.inner-outline {
    outline: 3px solid rgb(90, 90, 89);
    outline-offset: -30px;
}

h1 {
    font-family: 'Megrim', cursive;
    /* font-family: 'Oswald', sans-serif; */
    font-size: 60px;
    color: #f7f8f8;
    text-shadow: 2px 2px 2px rgb(35, 35, 35);
}

h2 {
    /* font-family: 'Megrim', cursive; */
    font-family: 'Merriweather', serif;
    font-size: 76px;
    color: rgb(255, 140, 95);
    text-shadow: 2px 2px 2px rgb(35, 35, 35);
}

h4 {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    color: #0080a0;
}

#enter {
    align-self: center;
    clear: both;
    margin-top: 220px;
    padding-left: 50px;
    padding-right: 50px;
    background: #44444436;
    color: #e6e6e6;
    font-family: 'Megrim', cursive;
    font-size: 50px;
    text-shadow: 2px 2px 2px rgb(35, 35, 35);
    border: none;
}

/* .btn {
    align-self: center;
    margin-top: 220px;
    padding-left: 50px;
    padding-right: 50px;
    background: #44444436;
    color: #e6e6e6;
    font-family: 'Megrim', cursive;
    font-size: 50px;
    text-shadow: 2px 2px 2px rgb(35, 35, 35);
    border: none;
} */

#enter:hover {
    background: rgba(145, 214, 179, 0.562);
    color: #ffffff;
    border: none;
    text-decoration: none;
}

#home1 {
    font-family: 'Megrim', cursive;
    /* font-family: 'Oswald', sans-serif; */
    font-size: 60px;
    color: #f7f8f8;
    padding: 30px;
    margin-left: 30px;
    text-align: left;
}

#home2 {
    /* font-family: 'Megrim', cursive; */
    font-family: 'Oswald', sans-serif;
    font-size: 76px;
    color: rgb(255, 140, 95);
    padding: 30px;
}


#hero-home {
    text-align: center;
    height: auto;
    width: 100% auto;
    position: absolute;
    display: inline;
    float: left;
}

#spear1 {
    background-image: url(assets/images/popos-pics/160-Spear-St.jp);
    margin-left: 0vw;
    margin-right: 0vw;
}